:root {
    --cor-detalhe: #cb611a;
    --cor-especial: #ee7320;
    --fs-small: 1rem;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

/*Geral*/

body {
    font-family: arial
}

/*Header*/

.banner-imagem {
    height: 365px;
    width: 100%;
    object-fit: cover;
}

.logo-image {
    border-radius: 50%;
    border: var(--cor-detalhe) solid 3px;
    z-index: 999;
}

.faixa {
    border-top: var(--cor-detalhe) solid 3px;
    box-shadow: black 0px -10px 0px;
    height: 60px;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: var(--cor-detalhe) !important;
}

.galeria-conteudo {
    max-width: 300px;
    margin: auto;
}

@media only screen and (min-width: 580px) {
    .galeria-conteudo {
        max-width: none;
    }
}

/*Carrossel*/

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23cb611a' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23cb611a' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}


.player-card {
    background-image: url('img/hexagons.jpg');
    width: 300px;
    margin: auto;
    padding: 10px;
    clip-path: polygon(89% 0, 100% 13%, 100% 60%, 100% 100%, 0 100%, 0% 60%, 0 0);
    border: var(--cor-detalhe) solid 3px;
    font-size: 1rem !important;
}

.card-image {
    width: 50%;
    height: 230px;
    object-fit: cover;
}

.card-content {
    display: flex;
    gap: 25px;
    font-family: 'Roboto', sans-serif;
}

.camisa {
    font-size: 2.5rem;
    font-family: 'Monoton', cursive;
    color: var(--cor-especial);
}

.player-info {
    font-size: 0.8rem;
}

@media only screen and (min-width: 770px) {
    .player-card {
        width: 500px;
    }

    .player-info {
        font-size: 1rem;
    }

    .camisa {
        font-size: 3rem;
    }
}

/*Eventos*/

@import url('https://fonts.googleapis.com/css?family=Oswald');

.fl-left {
    float: left
}

.fl-right {
    float: right
}

h2 {
    text-transform: uppercase;
    font-weight: 900;
    border-left: 10px solid var(--cor-detalhe);
    padding-left: 10px;
    margin-bottom: 30px;
    margin-left: 20px;
}

@media screen and (min-width: 580px) {
    h2 {
        margin-left: 0;
    }
}



.row {
    overflow: hidden
}

.card {
    display: table-row;
    width: 49%;
    background-color: #fff;
    color: #989898;
    margin-bottom: 10px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    border-radius: 4px;
    position: relative
}

.card+.card {
    margin-left: 2%
}

.date {
    display: table-cell;
    width: 25%;
    position: relative;
    text-align: center;
    border-right: 2px dashed #dadde6
}

.date:before,
.date:after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity)) !important;
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 1;
    border-radius: 50%
}

.date:after {
    top: auto;
    bottom: -15px
}

.date time {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.date time span {
    display: block
}

.date time span:first-child {
    color: #2b2b2b;
    font-weight: 600;
    font-size: 250%
}

.date time span:last-child {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: -10px
}

.card-cont {
    display: table-cell;
    width: 75%;
    font-size: 85%;
    padding: 10px 10px 30px 50px
}

.card-cont h3 {
    color: #3C3C3C;
    font-size: 130%
}

.card-cont>div {
    display: table-row
}

.card-cont .even-date i,
.card-cont .even-info i,
.card-cont .even-date time,
.card-cont .even-info p {
    display: table-cell
}

.card-cont .even-date i,
.card-cont .even-info i {
    padding: 5% 5% 0 0
}

.card-cont .even-info p {
    padding: 30px 50px 0 0
}

.card-cont .even-date time span {
    display: block
}

.card-cont a {
    display: block;
    text-decoration: none;
    width: 80px;
    height: 30px;
    background-color: var(--cor-detalhe);
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
    position: absolute;
    right: 10px;
    bottom: 10px
}

.card-cont a:hover {
    background-color: #2b2b2b;
}

@media screen and (max-width: 860px) {
    .card {
        display: block;
        float: none;
        width: 100%;
        margin-bottom: 10px
    }

    .card+.card {
        margin-left: 0
    }

    .card-cont .even-date,
    .card-cont .even-info {
        font-size: 75%
    }
}

/*Evento*/

.evento-descricao {
    padding: 30px;
    border: solid;
    height: 200px;
    overflow: scroll;
    border-radius: 8px;
    scrollbar-color: var(--cor-detalhe) black;
}

#evento-info .bi-geo-alt-fill {
    color: rgb(187, 4, 4);
}

/*Footer*/

#contato-info {
    list-style: none;
}

#contato-info li {
    margin-bottom: 8px;
}

#contato-info span {
    font-weight: bold;
}

#contato-info a {
    color: white;
}

#contato-secao {
    text-align: center;
}

.mapouter {
    margin: auto;
}

.binaria-texto {
    color: var(--cor-detalhe);
}

/*Diretoria*/

.profile-card {
    width: 200px;
    height: 300px;
    border-radius: 15px;
    -webkit-box-shadow: -1px 3px 19px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 19px -6px rgba(0,0,0,0.75);
    box-shadow: -1px 3px 19px -6px rgba(0,0,0,0.75);
}

.profile-background {
    height: 25%;
    background-color: var(--cor-especial);
    margin-bottom: 25%;
    border-bottom: dashed black 2px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.profile-image {
    width: 45%;
    border-radius: 50%;
    border: dashed black 2px;
}

.profile-text {
    border-top: solid 1px grey;
    width: 90%;
    margin: auto;
    padding-top: 5%;
    text-align: center;
}

.profile-title {
    font-size: 1.2rem;
}

.profile-text small {
    color: grey;
    font-size: 0.8rem;
}

.profile-button:hover {
    background-color: var(--cor-especial) !important;
}

@media screen and (min-width: 860px) {
    .profile-card {
        width: 300px;
        height: 400px;
    }

    .profile-title {
        font-size: 1.5rem;
    }
    
    .profile-text small {
        font-size: 0.9rem;
    }
}